__pycache__/
*.pyc
simulation_data.txt
poincare_data.txt
rf.txt
*.expand
*.vregs
*.into_cfglayout
*.jump
*.subreg*
*.dfinit
*.cse*
*.fwprop*
*.cprop*
*.pre
*.cse_local
*.ce*
*.reginfo
*.loop2*
*.stv*
*.dse*
*.ud_dce
*.combine
*.bbpart
*.outof_cfglayout
*.split*
*.mode_sw
*.asmcons
*.ira
*.reload
*.postreload
*.gcse*
*.ree
*.cmpelim
*.pro_and_epilogue
*.csa
*.compgotos
*.peephole*
*.cprop_hardreg
*.rtl_dce
*.bbro
*.sched*
*.stack
*.zero_call_used_regs
*.alignments
*.mach
*.barriers
*.eh_ranges
*.endbr_and_patchable_area
*.shorten
*.nothrow
*.dwarf2
*.final
*.dfinish
